body {
    margin: 0%;
    padding: 0%;
}

h1{
    text-align: center;
    padding-top: 20px;
    margin: 0%;
}

.container {
    text-align: center;
    padding-top: 100px;
}


#result{
    padding-top: 20px;
}